.most-popular-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
    list-style-type: none;
    padding: 60px ;
    margin: 0;
  }
  
  .most-popular-results li {
    background-color: #202020;
    padding: 10px;
  }
  
  .most-popular-results img {
    width: 100%;
    height: auto;
    border-radius: 5%;
  }
  
  .most-popular-results h2 {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  